// BLUE
$dark-blue-darkest: #0E1023
$dark-blue-darker: #1C1F2F
$dark-blue-light: #2C2F42
$dark-blue-lightest: #34374B
// ----
$blue-darkest: #332E8B
$blue-darker: #3C369D
$blue-dark: #453FB0
$blue-light: #4F45EE

$blue-numberboard-bottom: #6A59FF
$blue-faded: #BBB8FF

//GREEN
$green-dark: #218D4C
$green-light: #3BB76C

// WHITE
$pale-white: #E6E8F6
$white: #ffffff

$grey: #8B9895


// CODE
$code-border: #e4ce051e
$code-bg: #e4ce0517
$code-font: #e4ce05

$disabled-code-border: #ec565133
$disabled-code-bg: #ec565127
$disabled-code-font: #fd6863
